.title-first {
    color: #fff;

    &__main {
        display: block;
        font-weight: 800;
        font-size: 5rem;
        line-height: 6rem;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        margin-bottom: .1rem;
        animation-name: leftToRight;
        animation-duration: 1s;
        animation-delay: .7s;
        animation-timing-function: ease;
    }

    &__secondary {
        display: block;
        font-weight: 100;
        font-size: 4rem;
        letter-spacing: 0.12em;
        animation-name: RightToLeft;
        animation-duration: 1s;
        animation-delay: .7s;
        animation-timing-function: ease;
        margin-bottom: 5rem;
    }
}