.footer {
    padding: 8rem 0;
    background: #333;

    &__logo {
        display: block;
        margin: 0 auto;
        margin-bottom: 5rem;
    }

    &__list {
        list-style: none;
        display: flex;
        gap: 50px;
        justify-content: center;
    }



    &__link {

        &:link,
        &:visited {
            font-weight: 300;
            font-size: 1.6rem;
            letter-spacing: 0.12em;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}