*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: var(--color-grey);
    font-size: 1.6rem;
    letter-spacing: .2rem;
    padding: 5rem;
    background-color: #fff;
}

.container-color {
    background-color: var(--color-gray-light);
}

.container-width {
    margin: 0 auto;
    max-width: 1140px;
    position: relative;
}

.margin-bottom-80px {
    margin-bottom: 8rem;
}